### Importing packages

In [2]:
import numpy as np

In [4]:
import pandas as pd

In [7]:
import matplotlib.pyplot as plt

In [9]:
data = pd.read_csv(r"E:\DS&ML\Fraud_Detection.csv")

In [11]:
data.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
count,636262.000000,6.362620e+05,6.362610e+05,6.362620e+05,6.362620e+05,6.362520e+05,636262.000000
mean,242.931935,1.800585e+05,8.317949e+05,8.528354e+05,1.096212e+06,1.221804e+06,0.001290
std,142.330857,6.069714e+05,2.885638e+06,2.921296e+06,3.375389e+06,3.656236e+06,0.035898
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
25%,155.000000,1.340742e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
50%,238.000000,7.481577e+04,1.423900e+04,0.000000e+00,1.315397e+05,2.147000e+05,0.000000
75%,334.000000,2.084988e+05,1.073000e+05,1.435652e+05,9.384820e+05,1.109230e+06,0.000000
max,742.000000,5.722962e+07,4.368662e+07,4.367380e+07,3.551855e+08,3.555534e+08,1.000000

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636262 entries, 0 to 636261
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            636262 non-null  int64
 1   type            636251 non-null  object
 2   amount          636262 non-null  float64
 3   nameOrig        636262 non-null  object
 4   oldbalanceOrg   636261 non-null  float64
 5   newbalanceOrig  636262 non-null  float64
 6   nameDest        636262 non-null  object
 7   oldbalanceDest  636262 non-null  float64
 8   newbalanceDest  636252 non-null  float64
 9   isFraud         636262 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 48.5+ MB

In [15]:
data.isna()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
636257,False,False,False,False,False,False,False,False,False,False
636258,False,False,False,False,False,False,False,False,False,False
636259,False,False,False,False,False,False,False,False,False,False
636260,False,False,False,False,False,False,False,False,False,False
636261,False,False,False,False,False,False,False,False,False,False

In [17]:
data.isna().sum()

step               0
type              11
amount             0
nameOrig           0
oldbalanceOrg      1
newbalanceOrig     0
nameDest           0
oldbalanceDest     0
newbalanceDest    10
isFraud            0
dtype: int64

In [19]:
data.head(10)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,283,CASH_IN,210329.84,C1159819632,3778062.79,3988392.64,C1218876138,1519266.60,1308936.76,0
1,132,CASH_OUT,215489.19,C1372369468,21518.00,0.00,C467105520,6345756.55,6794954.89,0
2,355,DEBIT,4431.05,C1059822709,20674.00,16242.95,C76588246,80876.56,85307.61,0
3,135,CASH_OUT,214026.20,C1464960643,46909.73,0.00,C1059379810,13467450.36,13681476.56,0
4,381,CASH_OUT,8858.45,C831134427,0.00,0.00,C579876929,1667180.58,1676039.03,0
5,208,CASH_IN,256440.86,C1001269496,554.00,256994.86,C1503528288,0.00,0.00,0
6,347,CASH_OUT,120989.98,C803141068,0.00,0.00,C1951883397,6963396.37,7084386.35,0
7,183,CASH_OUT,62655.01,C309960888,18997.00,0.00,C1715810305,130706.17,193361.18,0
8,184,CASH_OUT,256745.11,C1447987365,0.00,0.00,C1629212528,1475890.41,1732635.52,0
9,12,PAYMENT,13693.22,C243045039,9040.00,0.00,M55115072,0.00,0.00,0