In [1]:
import numpy as np
import pandas as pd

In [2]:
arr=np.array(["hello", "BIM", 8])
arr

array(['hello', 'BIM', '8'], dtype='<U11')

In [3]:
series_from_array=pd.Series(arr)
series_from_array

0    hello
1      BIM
2        8
dtype: object

In [4]:
type(series_from_array)

pandas.core.series.Series

In [5]:
series_from_array[0:2]

0    hello
1      BIM
dtype: object

In [6]:
series_from_array[2]

'8'

In [7]:
series=pd.Series(arr,index=['a','b','c'])
series

a    hello
b      BIM
c        8
dtype: object

In [8]:
series.iloc[2]

'8'

In [9]:
series['c']

'8'

 Dataframes

In [11]:
list=["Allan","prayag","Raju"]
list

['Allan', 'prayag', 'Raju']

In [12]:
dataframe_from_list=pd.DataFrame(list)
dataframe_from_list

        0
0   Allan
1  prayag
2    Raju

In [13]:
dataframe_for_column=pd.DataFrame(list,columns=['Name of Friends'])

In [14]:
dataframe_for_column

  Name of Friends
0           Allan
1          prayag
2            Raju

In [15]:
dataframe_for_column['Name of Friends'][2]

'Raju'

In [16]:
dataframe_for_column['Name of Friends'].iloc[2]

'Raju'

In [17]:
dataframe_for_column.loc[2]

Name of Friends    Raju
Name: 2, dtype: object

In [18]:
dataframe_for_column.loc['Name of Friends']

KeyError: 'Name of Friends'

In [23]:
datasets = pd.read_csv("C:\Users\Ribesh\Desktop\titanic_train.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2542922376.py, line 1)

In [36]:
datasets.head()

NameError: name 'datasets' is not defined

In [ ]:
datasets.describe()

In [ ]:
datasets.describe(include='object')

In [ ]:
datasets['Sex'].value_counts()

In [ ]:
datasets['Age'].unique()

In [ ]:
datasets.columns

In [ ]:
datasets.info

In [ ]:
datasets.dtypes

In [ ]:
datasets.isna()

In [ ]:
datasets.isna().sum()

In [ ]:
datasets.shape

In [ ]:
datasets.size

In [ ]:
datasets[["Survived","Sex"]]

In [ ]:
datasets["Survived"].sum()

In [ ]:
datasets["Survived"].info

In [ ]:
datasets['Survived']==1

In [ ]:
datasets[datasets['Survived']==1]

In [ ]:
datasets[datasets['Survived']==1][['Name','Age']]